@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
}

html {
    font-family: Graphik LCG, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1340px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
}

.btn_white {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn_orange {
    background-color: #FF6336;
    border: 1px solid #FF6336;
    color: #FFFFFF;
}

/* header */
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 39px;
}

.header::before {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CCCCCC;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1340px;
    margin: 0 auto;
}

.header__logo {
    padding-right: 50px;
}

.header__nav {
    display: flex;
    justify-content: center;
}

.header-nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 39px;
    margin-right: 300px;
}

.header__btns {
    display: flex;
    gap: 10px;
}

.header__btn {
    width: 120px;
    height: 45px;
}

/* header */

/* main */
.main__content {
    padding-top: 130px;
    padding-bottom: 170px;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__title {
    margin: 0;
    padding-bottom: 50px;
    font-size: 65px;
    line-height: 70px;
}

.main__subtitle {
    padding-right: 75px;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 50px;

}

.main__buttons {
    padding-bottom: 25px;
    display: flex;
    gap: 10px;
}

.main__btn {
    width: 160px;
    height: 60px;
}

.main__item {
    font-size: 15px;
    line-height: 25px;
    padding-top: 25px;
    padding-bottom: 172px;

}


/* main */

/* partners */
.partners {
    margin: 0;
    background: #FF9C7D;
    padding-bottom: 120px;
    padding-top: 108px;
}

.partners__title {
    padding-bottom: 86px;
    margin: 0 auto;
    text-align: center;
    max-width: 720px;
    font-size: 50px;
    line-height: 60px;

}

.partners__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

/* partners */

/* features  */


.features__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 250px;
    align-items: center;
    gap: 140px;
}


.features__caption {
    margin: 0;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 30px;
    width: 493px;

}

.features__subtitle {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
    width: 520px;
}
.features__text-link {
    text-decoration: underline;
}

.features__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

/* features */


/* section__about */

.about {
    background: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 147px;

}

.about__title {
    text-align: center;
    padding-bottom: 79px;
}

.about__content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    gap: 65px;

}

.about__text {
    padding-top: 26px;
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 35px;

}

.about__subtitle {
    max-width: 270px;
}

/* about */


/* advantages */

.advantages {
    padding-top: 154px;
    padding-bottom: 187px;

}

.advantages__content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    align-items: baseline;
}

.advantages__tittle {
    padding-bottom: 82px;
}

.advantages__subtitle {
    font-size: 30px;
    line-height: 40px;
    padding-top: 49px;
    padding-bottom: 34px;
}

.advantages__text {
    max-width: 409px;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 30px;
}

.advantages__link {
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
}

/* advantages */

/* quote */
.quote {
    background: #C9E8F2;
    padding-top: 63px;
    padding-bottom:105px;
}

.quote__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote__caption {
    padding-right: 60px;
    width: 900px;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 23px;
}

.quote__slogan {
    padding-bottom: 10px;
    line-height: 25px;
}

/* quote */

/* awards */
.awards {
    background-color: #DABC98;
    padding-top: 89px;
    padding-bottom: 88px;
}

.awards__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awards_title {
    position: relative;
    font-size: 35px;
    line-height: 50px;
    width: 462px;
}

.awards_title:after {
    position: absolute;
    content: "";
    height: 168px;
    left: 114%;
    top: -37px;
    background: #000000;
    width: 1px;

}

/* awards */

/* processes */
.processes__wrapper {
    padding-top: 165px;
    padding-bottom: 162px;
    text-align: center;
}

.processes__title {
    margin: 0 auto;
    font-size: 65px;
    line-height: 75px;
    max-width: 791px;
    text-align: center;
}

.processes__subtitle {
    margin: 0 auto;
    font-size: 25px;
    line-height: 30px;
    max-width: 539px;
    padding-bottom: 25px;
}

.processes__button {
    padding-top: 32px;
    text-align: center;
}

.processes__button1 {
    height: 60px;
}

.processes__button-text {
    padding: 0 20px;

}

/* processes */

/* cta */

.cta {
    background: #FF9C7D;;
    padding-top: 119px;
    padding-bottom: 161px;
}


.cta__wrapper {
    text-align: center;
}

.cta__title {
    padding-bottom: 29px;
    width: 784px;
    font-size: 65px;
    line-height: 75px;
    margin: 0 auto;
}

.cta__subtitle {
    padding-bottom: 54px;
    font-size: 20px;
    line-height: 30px;
}

.cta__button {
    background: #000000;
}

.cta__button-black {
    padding: 0 40px;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FFFFFF;
}

/* cta */

/* footer */

.footer {
    background: #EEEEEE;
    padding-top: 52px;
    padding-bottom: 43px;
}

.footer__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
}
.footer__content::before {
    content: "";
    top: -40px;
    width: 100%;
    height: 1px;
    background-color: #000000;
    position: absolute;
}

.footer__text {
    font-size: 12px;
    line-height: 15px;
    width: 301px;
}
.footer__copyright {
    padding-left: 700px;
    font-size: 12px;
    line-height: 15px;
}